.button {
  border: 2px solid bisque;
  background-color: gray;
  color: white;
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 700;
  cursor: pointer;
  &:focus,
  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px -1px rgba(4, 202, 20, 0.1),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}

.container {
  display: flex;
  padding: 30px;
  border-radius: 3px;
  background-color: rgba(113, 227, 122, 0.892);
  margin: 20px 30px;
  box-shadow: 0px 2px 4px -1px rgba(4, 202, 20, 0.1),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.img {
  width: 300px;
}

.info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin-left: 10px;
}

.details {
  margin-left: 10px;
}

.detail {
  margin-left: 10px;
  width: 1000px;
  border-radius: 3px;
}

.genre {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: darkgreen;
}

.addInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.info_list {
  list-style-type: none;
  border-radius: 3px;
  background-color: rgba(113, 227, 122, 0.892);
  margin: 20px 30px;
  box-shadow: 0px 2px 4px -1px rgba(4, 202, 20, 0.1),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.detailLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(167, 103, 24, 0.452);
  gap: 5px;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  text-decoration: none;

  &:focus,
  &:hover {
    cursor: pointer;
    color: blue;
  }
}
